body
{
  background: url(file:///C:/Users/Balaji/eclipse-enter-workspace/pharma/src/main/webapp/images/100.jpg);
  background-size:1500px;
  font-family: 'Montserrat', sans-serif;
}
form {
  background: transparent;
  padding: 3em;
  height: adaptive;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
  position: relative;
}

[type="text"]
{
	width:150px;
	height:20px;
	margin-bottom:1.5em;
}
[type="submit"] 
{
    background:transparent;
    height:35px;
    border-radius:10px;
      margin-top: 10px;
      width: 100px;
      font-size: 1rem;
}
a
{
	color:black;
}